header {
  background-color: orange;
  width: 100%;
  height: 100px;
  box-shadow: inset 0 0 0 0.5px black;
}

nav {
  background-color: lightyellow;
  width: 25%;
  height: 400px;
  float: left;
  box-shadow: inset 0 0 0 0.5px black;
  outline-offset: 1px;
}

section {
  background-color: lightyellow;
  width: 50%;
  height: 400px;
  float: left;
  box-shadow: inset 0 0 0 0.5px black;
}

aside {
  background-color: lightyellow;
  width: 25%;
  height: 400px;
  float: left;
  box-shadow: inset 0 0 0 0.5px black;
}

footer {
  background-color: burlywood;
  float: right;
  width: 100%;
  height: 100px;
  box-shadow: inset 0 0 0 0.5px black;  
}
