* {
  color: white;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: grey url('https://www.solidbackgrounds.com/images/7680x4320/7680x4320-forest-green-traditional-solid-color-background.jpg') repeat;
}
